{% extends "base.html" %}
{% load account_tags %}
{% block site_brand %}
<a class="navbar-brand" href="{% url "home" %}">Home Page</a>
{% endblock %}
{% block nav %}
<ul class="nav navbar-nav">
    <li><a href="{% url "add_feed" %}">Add RSS Feed</a></li>
    <li><a href="{% url "add_website" %}">Add Website Health Checker</a></li>
</ul>
{% endblock %}
{% block extra_head_base %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/home_page.css">
{% endblock %}
{% block extra_script %}
<script src="{{ STATIC_URL }}js/home_page.js"></script>
<script src="{{ STATIC_URL }}js/website_health.js"></script>
<script src="{{ STATIC_URL }}js/rss_reader.js"></script>
{% endblock %}
{% block footer %}
    {% include "_footer.html" %}
{% endblock %}
