{% extends "site_base.html" %}
{% load bootstrap %}

{% block body %}
{% if website_id %}
<form action="{% url "edit_website" website_id=website_id %}" method="post">
{% else %}
<form action="{% url "add_website" %}" method="post">
{% endif %}
    <legend>Website Health Checker</legend>
    {% csrf_token %}
    {{ website_form.errors }}
    {{ website_form|bootstrap }}
    <div class="form-actions">
        <a href="#back" class="btn">Go back</a>
        <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
</form>
{% endblock %}

