<div class="website_health"><H2>{{website.name}}</H2>
<div id="website_health_report"></div>
    <a href="#" class="btn result-expand"><i class="icon-plus"></i> Good Pages</a><br/>
    <div class="result hidden" id="website_good_pages"></div>
    <a href="#" class="btn result-expand"><i class="icon-plus"></i> Bad Pages</a><br/>
    <div class="result hidden" id="website_bad_pages"></div>
    <a href="#" class="btn result-expand"><i class="icon-plus"></i> Checking</a><br/>
    <div class="result hidden"  id="website_checking_pages">
    {% for link in website.get_links%}
        <div class="website_health_link" data-link-url="{{link.link}}">{{ link }}
            <div class="result">Checking...</div>
        </div>
    {% endfor %}
    </div>
</div>
<script type="text/javascript">
WebsiteHealth.healthCheck();
</script>