{% extends "site_base.html" %}
{% load bootstrap %}

{% block body %}
{% if feed_id %}
<form action="{% url "edit_feed" feed_id=feed_id %}" method="post">
{% else %}
<form action="{% url "add_feed" %}" method="post">
{% endif %}
    <legend>RSS Feed</legend>
    {% csrf_token %}
    {{feed_form.errors }}
    {{ feed_form|bootstrap }}
    <div class="form-actions">
        <a href="#back" class="btn">Go back</a>
        <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
</form>
{% endblock %}

