{% extends "home_page_base_header.html" %}
{% block pane_header %}
<div class="pane-header-left">
    <h2>
        <a href="{{rss_feed.website_url}}">{{rss_feed}}</a>
        <a class="btn btn-default btn-sm feed-refresh" href="#" title="Refresh">
            <span class="glyphicon glyphicon-refresh"></span>
        </a>
        <a class="btn btn-default btn-sm feed-edit" href="{% url "edit_feed" feed_id=rss_feed.id %}" title="Edit Feed">
            <span class="glyphicon glyphicon-edit"></span>
        </a>
    </h2>
</div>
<div class="pane-header-right">
    <small>Last updated: {{last_updated}}</small>
</div>
{% endblock %}
