{% include "feed_header.html"%}
<div class="panel-body">
{% for entry in rss_feed.get_entries|slice:":10" %}
<div class="entry">
    <a href="#" class="btn btn-default btn-sm feed-expand">
        <span class="glyphicon glyphicon-plus"></span>
    </a>
    <div class="title"><a href="{{entry.link}}">{{entry.title}}</a></div>
    <div class="entry_wrapper hidden" style="display:none">
        {% autoescape off %}
        {{entry.content}}
        {% endautoescape %}
    </div>
</div>
{% endfor %}
</div>
