    <div class="row">
        <div class="col-md-7">
            <H2>
                <a href="{{rss_feed.website_url}}">{{rss_feed.name}}</a>
                <a class="btn btn-default btn-sm feed-refresh" href="#"><span class="glyphicon glyphicon-refresh"></span></a>
            </H2>
        </div>
        <div class="col-md-5"><small>Last updated: {{last_updated}}</small></div>
    </div>
    {% for entry in rss_feed.get_entries|slice:":10" %}
    <div class="entry">
        <a href="#" class="btn btn-default btn-sm feed-expand">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
        <div class="title"><a href="{{entry.link}}">{{entry.title}}</a></div>
        <div class="entry_wrapper hidden" style="display:none">
            {% autoescape off %}
            {{entry.content}}
            {% endautoescape %}
        </div>
    </div>
    {% endfor %}
</div>
