<div class="container-fluid">
{% for feed in rss_feeds %}
    {% if forloop.counter0|divisibleby:"3" %}
    <div class="row">
    {% endif %}
        <div class="col-md-4">
            <div class="panel panel-info feed-container feed" id="{{feed.name}}" data-url="{{feed.get_absolute_url}}">
                {% include "feed_header.html" with rss_feed=feed %}
                Loading...
             </div>
	 </div>
    {% if forloop.last or forloop.counter|divisibleby:"3" %}
    </div>
    {% endif %}
 {% endfor %}
 </div>
<script type="text/javascript">
RssReader.init();
</script>
