.feed-expand {
    float: left;
    margin-right: 10px;
}
.entry {
    min-height: 40px;
}
.panel-heading h2{
    margin-top: 0px;
    margin-bottom: 0px;
}
.feed-container {
    min-height: 200px;
}
