.feed-expand {
    float: left;
    margin-right: 10px;
}
.entry {
    min-height: 40px;
}
.panel-heading h2{
    margin-top: 0px;
    margin-bottom: 0px;
}
.feed-container {
    min-height: 200px;
}
.pane-header-left {
    float: left;
}
.pane-header-right {
    float: right;
}
.header-controls {
    max-height: 0;
    overflow: hidden;
}
.panel-heading:hover .header-controls {
    max-height: 100px;
}
div {
    transition: max-height 1s ease-in .5s;
    -moz-transition: max-height 1s ease-in .5s; /* Firefox 4 */
    -webkit-transition: max-height 1s ease-in .5s; /* Safari and Chrome */
    -o-transition: max-height 1s ease-in .5s; /* Opera */
}

